@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: center;
}

// cant get scss to work properly
.nav-list {
  display: grid;
  text-align: start;
  > a.active {
    font-weight: bold;
  }
 & a {
    padding: 5px;
    text-decoration: none;
    color: black;
}}

