@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: rgb(187, 205, 230);
  // placeholder
  background-image: url("../../images/sky-with-clouds.jpg");
}

p{
  margin: 0;
}

/* WEATHER CARD */
.loader {
  width: 80px;
  height: 40px;
  border-radius: 100px 100px 0 0;
  position: relative;
  overflow: hidden;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0 0 -100%;
  background: 
    radial-gradient(farthest-side,#ffd738 80%,#0000) left 70% top    20%/15px 15px,
    radial-gradient(farthest-side,#020308 92%,#0000) left 65% bottom 19%/12px 12px,
    radial-gradient(farthest-side,#ecfefe 92%,#0000) left 70% bottom 20%/15px 15px,
    linear-gradient(#9eddfe 50%,#020308 0);
  background-repeat: no-repeat;
  animation: l5 2s infinite;
}
@keyframes l5 {
  0%,20%   {transform: rotate(0)}
  40%,60%  {transform: rotate(.5turn)}
  80%,100% {transform: rotate(1turn)}
}

.weather-card-wrapper {
  position: relative;
  padding-top: 1rem;
}

.weather-card {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 50rem; 
}

.weather-background{
  border-radius: 30px;
}

.weather-info-container{
  position: absolute;
  padding-top: 8rem;
}

.weather-icon-container{
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.weather-icon{
  margin-left: 1rem;
}

.temperature-text{
  margin-top: 4rem;
  font-size: 3rem;
  color: white;
}

.summary-text{
  font-size: 2rem;
  color: white;
}

.weekly-weather-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  color: white;
  font-size: 1.2rem;
}

.weekly-info-container{
  display: flex;
  align-items: center;
  padding-left: 8rem;
}

/* WEATHER CARD */




.header-wrapper {
  display: grid;
  padding: 5px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  grid-template-columns: repeat(2, auto);
  > .search-bar {
    justify-self: end;
    padding: 2rem;
    padding-top: 2.2rem;
  }
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 10px;
  text-align: center;
}
.nav-list-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  padding-top: 1rem;
  height: 100vh;
  max-width: 10rem;
  > .nav-list {
  display: grid;
  text-align: start;
  max-height: 20px;
  > a.active {
    font-weight: bold;
    background-color: rgba(88, 88, 88, 0.1);
    padding-left: 10px;
  }
 & a {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    color: black;
}}}

.activity-card-wrapper {
  padding-top: 1rem;
  > .activity-card {
  border: 1px solid black;
  border-radius: 20px;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.6);
  > .activity-info {
    display: grid;
    margin: 0 1rem;
    justify-content: space-between;
    grid-template-columns: repeat(3, 12rem);
    > h5 {
      font-size: large;
      margin: 1rem 0;
    }
  }
}}



