@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: rgb(187, 205, 230);
  // placeholder
  background-image: url("../../images/sky-with-clouds.jpg");
}

.header-wrapper {
  display: grid;
  padding: 5px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  grid-template-columns: repeat(2, auto);
  > .search-bar {
    justify-self: end;
    padding: 2rem;
    padding-top: 2.2rem;
  }
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 10px;
  text-align: center;
}
.nav-list-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  padding-top: 1rem;
  height: 100vh;
  max-width: 10rem;
  > .nav-list {
  display: grid;
  text-align: start;
  max-height: 20px;
  > a.active {
    font-weight: bold;
    background-color: rgba(88, 88, 88, 0.1);
    padding-left: 10px;
  }
 & a {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    color: black;
}}}

.activity-card-wrapper {
  padding-top: 1rem;
  > .activity-card {
  border: 1px solid black;
  border-radius: 20px;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.6);
  > .activity-info {
    display: grid;
    margin: 0 1rem;
    justify-content: space-between;
    grid-template-columns: repeat(3, 12rem);
    > h5 {
      font-size: large;
      margin: 1rem 0;
    }
  }
}}

.weather-card-wrapper {
  padding-top: 1rem;
  > .weather-card {
    border: 1px solid black;
    border-radius: 20px;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

